<html>

  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
<meta http-equiv="refresh" content="60">
<body>

<h1>Hello,{{username}}!</h1>

<div id="employer_resume" style="width:700px">

    <div id="header" style="background-color:#FFA500;">
        <h2 style="margin-bottom:0;">Resumes you follow</h2>
    </div>

    <div id="resume" style="background-color:#EEEEEE;height:50px;width:150px;float:left;text-align:center;">
        <b>Name of Jobseekers</b>
    </div>
    <div id="resumelist" style="background-color:#F5DEB3;height:50px;width:550px;float:left;">
        {{names}}
	</div>
    <div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
	    {{username}}
	</div>

</div>
<br>
<form action="/employer/{{username}}/addfollow" method="post">
    <table>
	    New Resumes to follow? Add here
        <tr>
            <td><label for="addname">Username：</label></td>
            <td><input type="text" id="addname" name="addname" /></td>
            <td><input type="submit" value="add"/></td>
        </tr>
    </table>
</form> 
<hr>

<form action="/viewresume" target="_blank" method="post">
	<table>
		View Resumes you followed
	<tr>
           <td><label for="proname">Jobseeker of the resume：</label></td>
           <td><select id="proname" name="proname" >
	       {% for name in resumelist %}	    
	       <option value="{{name}}">{{name}}</option>
		   {% endfor %}
	        </select>
	    </td>
            <td><input type="submit" value="view"/></td>
        </tr>
    </table>
</form> 
<hr>

<form action="/employer/{{username}}/deletefollow" method="post">
    <table>
	    Don't want to follow that resume any more? Delete here
        <tr>
            <td><label for="delname">Username：</label></td>
            <td><select id="delname" name="delname" >
	            {% for name in resumelist %}	    
	            <option value="{{name}}">{{name}}</option>
		        {% endfor %}
	            </select>
            </td>
            <td><input type="submit" value="delete"/></td>
        </tr>
    </table>
</form> 


<table width="700" border="0">
  <tr>
  <td colspan="2" style="background-color:#AFEEEE;text-align:center;">copyright © zy2232</td>
  </tr>
</table>

</body>

</html>
