<html>

  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>

<h1>View Resume</h1>

<div id="resume" style="width:700px">

    <div id="header" style="background-color:#FFA500;">

        <h2 style="margin-bottom:0;">{{rid}}'s Resume</h2>

    </div>

    <div id="name" style="background-color:#F5DEB3;height:30px;width:150px;float:left;text-align:center;">

        <b>Name</b>

    </div>

    <div id="name_content" style="background-color:#EEEEEE;height:30px;width:550px;float:left;">

        {{name}}

	</div>

    <div id="education" style="background-color:#EEEEEE;height:30px;width:150px;float:left;text-align:center;">

        <b>Eduction</b>

    </div>

    <div id="education_content" style="background-color:#F5DEB3;height:30px;width:550px;float:left;">

        {{education}}

	</div>

    <div id="skills" style="background-color:#F5DEB3;height:30px;width:150px;float:left;text-align:center;">

        <b>Skills</b>

    </div>

    <div id="skills_content" style="background-color:#EEEEEE;height:30px;width:550px;float:left;">

        {{skills}}

	</div>

    <div id="honor" style="background-color:#EEEEEE;height:100px;width:150px;float:left;text-align:center;vertical-align:center">

        <b>Honor</b>

    </div>

    <div id="honor_content" style="background-color:#F5DEB3;height:100px;width:550px;float:left;">

        {{honor}}

	</div>
      <div id="volunteer" style="background-color:#F5DEB3;height:100px;width:150px;float:left;text-align:center;vertical-align:center">

        <b>Volunteer</b>

    </div>

    <div id="volunteer_content" style="background-color:#EEEEEE;height:100px;width:550px;float:left;">

        {{volunteer}}

	</div>
   <div id="work_experience" style="background-color:#EEEEEE;height:100px;width:150px;float:left;text-align:center;vertical-align:center">

        <b>Work experience</b>

    </div>

    <div id="work_experience_content" style="background-color:#F5DEB3;height:100px;width:550px;float:left;">

        {{work_experience}}

	</div>
     <div id="certificate" style="background-color:#F5DEB3;height:100px;width:150px;float:left;text-align:center;vertical-align:center">

        <b>Certificate</b>

    </div>

    <div id="certificate_content" style="background-color:#EEEEEE;height:100px;width:550px;float:left;">

        {{certificate}}

	</div>
  
       <div id="address" style="background-color:#EEEEEE;height:30px;width:150px;float:left;text-align:center;vertical-align:center">

        <b>Address</b>

    </div>

    <div id="address_content" style="background-color:#F5DEB3;height:30px;width:550px;float:left;">

        {{address}}

	</div>
        <div id="email" style="background-color:#F5DEB3;height:30px;width:150px;float:left;text-align:center;vertical-align:center">

        <b>Email</b>

    </div>

    <div id="email_content" style="background-color:#EEEEEE;height:30px;width:550px;float:left;">

        {{email}}

	</div>
          <div id="phone_number" style="background-color:#EEEEEE;height:30px;width:150px;float:left;text-align:center;vertical-align:center">

        <b>Phone number</b>

    </div>

    <div id="phone_number" style="background-color:#F5DEB3;height:30px;width:550px;float:left;">

        {{phone_numberl}}

	</div>
  

</div>





</body>





</html>