<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
<body>
<h1>Friend's profile</h1>
<div id="profile" style="width:700px">
    <div id="header" style="background-color:#FFA500;">
        <h2 style="margin-bottom:0;">{{username}}'s Proflie</h2>
    </div>
    <div id="time" style="background-color:#F5DEB3;height:30px;width:150px;float:left;text-align:center;">
        <b>Update time</b>
    </div>
    <div id="time_content" style="background-color:#EEEEEE;height:30px;width:550px;float:left;">
        {{update_time}}
	</div>
    <div id="birthday" style="background-color:#EEEEEE;height:30px;width:150px;float:left;text-align:center;">
        <b>Birthday</b>
    </div>
    <div id="birthday_content" style="background-color:#F5DEB3;height:30px;width:550px;float:left;">
        {{birthday}}
	</div>
    <div id="field" style="background-color:#F5DEB3;height:30px;width:150px;float:left;text-align:center;">
        <b>Field</b>
    </div>
    <div id="field_content" style="background-color:#EEEEEE;height:30px;width:550px;float:left;">
        {{field}}
	</div>
    <div id="selfintro" style="background-color:#EEEEEE;height:100px;width:150px;float:left;text-align:center;vertical-align:center">
        <b>Personal Introduction</b>
    </div>
    <div id="selfintro_content" style="background-color:#F5DEB3;height:100px;width:550px;float:left;">
        {{self_introduction}}
	</div>
</div>


</body>


</html>